@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Category List";
}

<h1 class="h3 mb-4 text-gray-800">Category List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Burgers</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Drinks</td>
        </tr>
    </tbody>
</table>
