@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Product List";
}

<h1 class="h3 mb-4 text-gray-800">Product List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Hamburger</td>
            <td>$20</td>
            <td>Delicious and filling</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Pizza</td>
            <td>$35</td>
            <td>Loaded with toppings</td>
        </tr>
    </tbody>
</table>
