<div class="preloader">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<div id="wrapper" class="wrapper clearfix">
    <header id="navbar-spy" class="header header-1 header-transparent header-fixed">
        <nav id="primary-menu" class="navbar navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo" href="index.html">
                        <img class="logo-light" src="assets/images/logo/logo-light.png" alt="Steakin Logo" draggable="false">
                        <img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Steakin Logo" draggable="false">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                    <ul class="nav navbar-nav nav-pos-right navbar-left">
                        <li class="has-dropdown mega-dropdown active">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">home</a>
                            <ul class="dropdown-menu mega-dropdown-menu">
                                <li>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <ul>
                                                    <li><a href="index.html">home main</a></li>
                                                    <li><a href="homepage-2.html">homeoage 2</a></li>
                                                    <li><a href="homepage-3.html">homeoage 3</a></li>
                                                    <li><a href="homepage-4.html">homeoage 4</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <ul>
                                                    <li><a href="homepage-5.html">homepage 5</a></li>
                                                    <li><a href="homepage-6.html">homepage 6</a></li>
                                                    <li><a href="homepage-7.html">homepage 7</a></li>
                                                    <li><a href="homepage-8.html">homepage 8</a></li>
                                                </ul>
                                            </div>
                                            <!-- Diğer kolonlar burada devam ediyor -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- BURAYA devam eden tüm menü içeriği ve sayfa bölümleri gelecek -->
</div>