<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="/images/page-title/10.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Stay Updated</div>
                        <div class="title--heading">
                            <h1>Single Post Page</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="index.html">blog</a>
                        </li>
                        <li class="active">Single Post</li>
                    </ol>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->
<!-- Blog Single Right Sidebar
============================================= -->
<section id="blog" class="blog blog-single">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <!-- Blog Entry -->
                <div class="blog-entry">

                    <div class="entry--content">
                        <div class="entry--meta">
                            <span>Oct 25, 2017</span> / <span>comments <a href="#">11</a></span> /
                            <span>
                                <a href="#">For A Crowd</a> , <a href="#">Fall</a> , <a href="#">
                                    Side
                                    Dish
                                </a>
                            </span>
                        </div>
                        <div class="entry--title">
                            <h4><a href="#">The Great Monday Countryside Facation Breakfast</a></h4>
                        </div>
                        <div class="entry--img">
                            <a href="#">
                                <img src="/images/blog/standard/1.jpg" alt="entry image" />
                            </a>
                        </div>
                        <div class="entry--bio">
                            <p>
                                We’ve all been dying to know which type of magic the Gaines would bring to the
                                café, a landmark on Waco’s bustling traffic circle that closed down in February
                                of 2017. The Fixer Upper stars’ Magnolia brand, which includes the Magnolia
                                Market, a premium interior paint line, a bakery, and a quarterly home magazine,
                                has already reshaped the culture and perception of Waco, Texas.
                            </p>
                            <p>
                                The Elite Café, which was originally opened in 1919, has catered to Elvis
                                Presley when he was training at Fort Hood in the 1950s, and previously served
                                steaks, burgers, and salads. It was a landmark for locals and passersby
                                traveling from Austin to Dallas, most recognizable by a baby-blue ’56 Cadillac
                                parked right out front. “I’ve always been a breakfast connoisseur. I always do a
                                heavy, bigger breakfast, but Jo is the exact opposite. She was kind enough to
                                come with me on this one, and we are going to do up a breakfast joint here in
                                town.” According to Chip, renovating the restaurant took a lot of “elbow
                                grease,” but it was worth it.
                            </p>
                            <p>
                                “The restaurant itself is literally one big giant kitchen. When we first got in
                                there, it was all the things you can imagine—dingy, musky. But if I took you in
                                there today, you’d be like ‘Oh! This is so clean, everything smells so great.’
                                Those are a few benefits of a little bit of elbow grease and hard work on the
                                front end.” As Chip’s vision has come to fruition, he’s garnered a lot more
                                support. We’ve all been dying to know which type of magic the Gaines would bring
                                to the café, a landmark on Waco’s bustling traffic circle that closed down in
                                February of 2017. The Fixer Upper stars’ Magnolia brand, which includes the
                                Magnolia Market, a premium interior paint line, a bakery, and a quarterly home
                                magazine, has already reshaped the culture and perception of Waco, Texas.
                            </p>
                            <p>
                                The Elite Café, which was originally opened in 1919, has catered to Elvis
                                Presley when he was training at Fort Hood in the 1950s, and previously served
                                steaks, burgers, and salads. It was a landmark for locals and passersby
                                traveling from Austin to Dallas, most recognizable by a baby-blue ’56 Cadillac
                                parked right out front. “I’ve always been a breakfast connoisseur. I always do a
                                heavy, bigger breakfast, but Jo is the exact opposite. She was kind enough to
                                come with me on this one, and we are going to do up a breakfast joint here in
                                town.” According to Chip, renovating the restaurant took a lot of “elbow
                                grease,” but it was worth it.
                            </p>
                            <p>
                                “The restaurant itself is literally one big giant kitchen. When we first got in
                                there, it was all the things you can imagine—dingy, musky. But if I took you in
                                there today, you’d be like ‘Oh! This is so clean, everything smells so great.’
                                Those are a few benefits of a little bit of elbow grease and hard work on the
                                front end.” As Chip’s vision has come to fruition, he’s garnered a lot more
                                support.
                            </p>

                        </div>
                        <div class="entry--share">
                            <div class="pull-left">
                                <span class="share--title">share this article: </span>
                            </div>
                            <div class="text-right">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                        <!-- .entry-share end -->
                    </div>
                </div>
                <!-- .blog-entry end -->

                <div class="entry-widget entry-bio clearfix">
                    <div class="entry-widget-title">
                        <h4>about author</h4>
                    </div>
                    <div class="entry-widget-content">
                        <img src="/images/team/thumb/1.jpg" alt="author" />
                        <div class="entry-bio-desc">
                            <p>
                                we’re Steak In, an award-winning digital marketing agency based in New York.
                                Founded by Begha over many cups of tea at her kitchen table in 2009, our brand
                                promise is simple: to provide powerful digital marketing solutions to small and
                                medium businesses.
                            </p>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo-square"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </div>
                    </div>
                </div>
                <!-- .entry-bio end -->

                <div class="entry-widget entry-related clearfix">
                    <div class="entry-widget-title">
                        <h4>related posts</h4>
                    </div>
                    <div class="entry-widget-content">
                        <div class="row">
                            <!-- Related Post #1 -->
                            <div class="col-xs-12 col-sm-4 col-md-4 entry">
                                <div class="entry--img">
                                    <a href="#">
                                        <img src="/images/blog/small/1.jpg" alt="title" />
                                    </a>
                                </div>
                                <div class="entry--title">
                                    <h5><a href="#">Simple Recipes for your Next Spring</a></h5>
                                </div>
                            </div>

                            <!-- Related Post #2 -->
                            <div class="col-xs-12 col-sm-4 col-md-4 entry">
                                <div class="entry--img">
                                    <a href="#">
                                        <img src="/images/blog/small/2.jpg" alt="title" />
                                    </a>
                                </div>
                                <div class="entry--title">
                                    <h5><a href="#">Dinner Party for our new awesome Chef!</a></h5>
                                </div>
                            </div>
                            <!-- Related Post #3 -->
                            <div class="col-xs-12 col-sm-4 col-md-4 entry">
                                <div class="entry--img">
                                    <a href="#">
                                        <img src="/images/blog/small/3.jpg" alt="title" />
                                    </a>
                                </div>
                                <div class="entry--title">
                                    <h5><a href="#">Cornbread Stuffing Apples and Sausage</a></h5>
                                </div>
                            </div>

                        </div>
                        <!-- .row end -->
                    </div>
                </div>
                <!-- .entry-related end -->
                <div class="entry-widget entry-comments clearfix">
                    <div class="entry-widget-title">
                        <h4>comments</h4>
                    </div>
                    <div class="entry-widget-content">
                        <ul class="comments-list">
                            <li class="comment-body">
                                <div class="avatar">
                                    <img src="/images/team/thumb/2.jpg" alt="avatar" />
                                </div>
                                <div class="comment">
                                    <h6>Anthony Hunter</h6>
                                    <div class="date">Jan 28, 2017 - 08:07 pm</div>
                                    <p>
                                        The example about the mattress sizing page you mentioned in the last WBF
                                        can be a perfect example of new keywords and content, and broadening the
                                        funnel as well. I can only imagine the sale numbers if that was the site
                                        of a mattress selling company.
                                    </p>
                                    <a class="reply" href="#">reply</a>
                                </div>
                            </li>
                            <!-- comment end -->

                            <li class="comment-body">
                                <div class="avatar">
                                    <img src="/images/team/thumb/3.jpg" alt="avatar" />
                                </div>
                                <div class="comment">
                                    <h6>Mohamed Habaza</h6>
                                    <div class="date">Jan 28, 2017 - 10:07 pm</div>
                                    <p>
                                        The example about the mattress sizing page you mentioned in the last WBF
                                        can be a perfect example of new keywords and content, and broadening the
                                        funnel as well. I can only imagine the sale numbers if that was the site
                                        of a mattress selling company.
                                    </p>
                                    <a class="reply" href="#">reply</a>
                                </div>

                                <ul class="comment-children">
                                    <li class="comment-body">
                                        <div class="avatar">
                                            <img src="/images/team/thumb/2.jpg" alt="avatar" />
                                        </div>
                                        <div class="comment">
                                            <h6>Mahmoud Baghagho</h6>
                                            <div class="date">Jan 28, 2017 - 10:07 pm</div>
                                            <p>
                                                The example about the mattress sizing page you mentioned in the
                                                last WBF can be a perfect example of new keywords and content,
                                                and broadening the funnel as well. I can only imagine the sale
                                                numbers if that was the site of a mattress selling company.
                                            </p>
                                            <a class="reply" href="#">reply</a>
                                        </div>
                                        <ul class="comment-children">
                                            <li class="comment-body">
                                                <div class="avatar">
                                                    <img src="/images/team/thumb/2.jpg" alt="avatar" />
                                                </div>
                                                <div class="comment">
                                                    <h6>Adam Smith</h6>
                                                    <div class="date">Jan 28, 2017 - 10:30 pm</div>
                                                    <p>
                                                        The example about the mattress sizing page you mentioned
                                                        in the last WBF can be a perfect example of new keywords
                                                        and content, and broadening the funnel as well. I can
                                                        only imagine the sale numbers if that was the site of a
                                                        mattress selling company.
                                                    </p>
                                                    <a class="reply" href="#">reply</a>
                                                </div>
                                            </li>
                                            <!-- comment end -->
                                        </ul>
                                    </li>
                                    <!-- comment end -->

                                    <li class="comment-body">
                                        <div class="avatar">
                                            <img src="/images/team/thumb/2.jpg" alt="avatar" />
                                        </div>
                                        <div class="comment">
                                            <h6>Anthony Hunter</h6>
                                            <div class="date">Jan 28, 2017 - 08:07 pm</div>
                                            <p>
                                                The example about the mattress sizing page you mentioned in the
                                                last WBF can be a perfect example of new keywords and content,
                                                and broadening the funnel as well. I can only imagine the sale
                                                numbers if that was the site of a mattress selling company.
                                            </p>
                                            <a class="reply" href="#">reply</a>
                                        </div>
                                    </li>
                                    <!-- comment end -->

                                </ul>
                                <!-- .comment-children end -->
                            </li>
                            <!-- comment end -->

                            <li class="comment-body">
                                <div class="avatar">
                                    <img src="/images/team/thumb/2.jpg" alt="avatar" />
                                </div>
                                <div class="comment">
                                    <h6>Adam Smith</h6>
                                    <div class="date">Jan 28, 2017 - 10:30 pm</div>
                                    <p>
                                        The example about the mattress sizing page you mentioned in the last WBF
                                        can be a perfect example of new keywords and content, and broadening the
                                        funnel as well. I can only imagine the sale numbers if that was the site
                                        of a mattress selling company.
                                    </p>
                                    <a class="reply" href="#">reply</a>
                                </div>
                            </li>
                            <!-- comment end -->

                        </ul>
                        <!-- .comments-list end -->
                    </div>
                </div>
                <!-- .entry-comments end -->

                <div class="entry-widget entry-add-comment mb-0 clearfix">
                    <div class="entry-widget-title">
                        <h4>Leave A Reply</h4>
                    </div>
                    <div class="entry-widget-content">
                        <form id="post-comment" class="mb-0">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <input type="text" class="form-control" id="first-name"
                                           placeholder="First Name:" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <input type="text" class="form-control" id="last-name"
                                           placeholder="Last Name:" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <input type="email" class="form-control" id="email" placeholder="Email:" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <input type="text" class="form-control" id="website"
                                           placeholder="website:" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <textarea class="form-control" id="comment" rows="2"
                                              placeholder="Comment"></textarea>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <button type="submit" class="btn btn--secondary btn--block">
                                        Post Your
                                        Comment
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- .entry-comments end -->

            </div>
            <!-- .col-md-9 end -->
            <div class="col-xs-12 col-sm-12 col-md-3">
                <!-- Search
                ===
                ===
                === === === === === === === === === === === === === -->
                <div class="widget widget-search">
                    <div class="widget--content">
                        <form class="form-search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Type Your Search Words">
                                <span class="input-group-btn">
                                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                                </span>

                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                </div> <!-- .widget-search end -->
                <!-- Recent Posts
                ============================================= -->
                <div class="widget widget-recent-posts">
                    <div class="widget--title">
                        <h5>recent posts</h5>
                    </div>
                    <div class="widget--content">
                        <div class="entry">
                            <img src="/images/blog/thumb/1.jpg" alt="title" />
                            <div class="entry-desc">
                                <div class="entry-meta">
                                    <a href="#">Oct 15, 2017</a>
                                </div>
                                <div class="entry-title">
                                    <a href="#">The Best Restaurants in Canada</a>
                                </div>
                            </div>
                        </div>
                        <!-- .recent-entry end -->

                        <div class="entry">
                            <img src="/images/blog/thumb/2.jpg" alt="title" />
                            <div class="entry-desc">
                                <div class="entry-meta">
                                    <a href="#">Sep 15, 2017</a>
                                </div>
                                <div class="entry-title">
                                    <a href="#">How To Keep Your Food Fresh?</a>
                                </div>
                            </div>
                        </div>
                        <!-- .recent-entry end -->

                    </div>
                </div> <!-- .widget-recent end -->
                <!-- Instagram Feed
                ============================================= -->
                <div class="widget widget-instagram">
                    <div class="widget--title">
                        <h5>Instagram</h5>
                    </div>
                    <div class="widget--content">
                        <div id="instafeedSidebar" class="instafeed" data-insta-number="8"></div>
                        <div class="clearfix"></div>
                    </div>
                </div> <!-- .widget-instagram end -->
                <!-- Tag Clouds
                ============================================= -->
                <div class="widget widget-tags">
                    <div class="widget--title">
                        <h5>tag clouds</h5>
                    </div>
                    <div class="widget--content">
                        <a href="#">responsive</a>
                        <a href="#">modern</a>
                        <a href="#">corporate</a>
                        <a href="#">business</a>
                        <a href="#">fresh</a>
                        <a href="#">awesome</a>
                        <a href="#">business</a>
                        <a href="#">fresh</a>
                        <a href="#">corporate</a>
                    </div>
                </div> <!-- .widget-tags end -->
            </div>
            <!-- .col-md-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #blog end -->