<!DOCTYPE html>
<html dir="ltr" lang="en-US">


<!-- Mirrored from 7oroof.com/demos/steakin/homepage-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 Jun 2025 16:33:53 GMT -->
<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Elegant Restaurant & Cafe Html5 Template by zytheme">
    <link href="~/images/favicon/favicon.png" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,700,900%7CRuthie%7CAbril+Fatface' rel='stylesheet' type='text/css'>

    <!-- Stylesheets
    ============================================= -->
    <link href="~/css/external.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="~/js/html5shiv.js"></script>
      <script src="~/js/respond.min.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>Steak In | Elegant Restaurant & Cafe Html5 Template</title>
</head>

<body>


    @* *************************************************************************************************** *@
    @RenderBody()
    @* *************************************************************************************************** *@


<!-- footer#1
============================================= -->
<footer id="footer" class="footer footer-1 text-center">
    <div class="divider--shape-dark"></div>
    <!-- Widget Section
    ============================================= -->
    <div class="footer--widget text--center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="footer--widget-content">
                        <h3>Follow Us</h3>
                        <div class="footer--social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a>
                        </div>
                        <!-- .social-icons end -->
                    </div>
                </div>
                <!-- .col-md-4 end -->
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="footer--widget-content">
                        <img class="mb-20" src="~/images/logo/logo-light.png" alt="logo">
                        <p>Steak In has the perfect place to enjoy fine food and great cocktails with excellent service, in comfortable atmospheric surroundings. We have a soft dining room, combined with an open kitchen, coffee take out bar.</p>
                    </div>
                </div>
                <!-- .col-md-3 end -->

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="footer--widget-content">
                        <h3>Newsletter</h3>
                        <div class="widget--newsletter">
                            <form class="footer--social-newsletter mailchimp">
                                <input type="email" name="email" class="form-control" placeholder="Subscribe Our Newsletter">
                                <button type="submit">join</button>
                            </form>
                            <div class="subscribe-alert"></div>
                        </div>
                        <!-- .widget end -->
                    </div>
                </div>
                <!-- .col-md-3 end -->
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <!-- Copyrights
    ============================================= -->
    <div class="footer--copyright text-center">
        <div class="divider--shape-dark2"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="contact-info">
                        <span>22 Alnahas Building, Tanta, Egypt</span> -
                        <span>02 01065370701</span> -
                        <span><a href="https://7oroof.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fec9918c919198bec9918c919198d09d9193">[email&#160;protected]</a></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <span>&copy; 2017 Steak In, With Love by </span> <a href="https://themeforest.net/user/7oroof/portfolio?ref=zytheme">7oroof.com</a>
                </div>
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-copyright end -->
</footer>
<!-- #wrapper end -->
<!-- Footer Scripts
============================================= -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery-2.2.4.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/functions.js"></script>
<!-- RS5.0 Core JS Files -->
<script src="~/revolution/js/jquery.themepunch.tools.min838f.js?rev=5.0"></script>
<script src="~/revolution/js/jquery.themepunch.revolution.min838f.js?rev=5.0"></script>
<script src="~/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="~/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- RS Configration JS Files -->
<script src="~/js/rsconfig.js"></script>
</body>


<!-- Mirrored from 7oroof.com/demos/steakin/homepage-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 Jun 2025 16:34:08 GMT -->
</html>